body {
    background-color: black;
    margin: 0; /* Remove default body margin */
}

p {
    font-family: Outfit;
    font-size: 50px;
    font-weight: 600;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(0deg, #FFF0DA 1.04%, #94641E 4.17%, #FFF2DB 82.81%, #EAC885 93.75%, #FBF5D1 97.92%, #BD9A4B 99.99%, #ECD8A3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-bottom: 20px;
}

#img {
    height: 84px;
    width: 126px;
}

#grid12 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default to 1 column for larger screens */
    gap: 20px;
    justify-content: center;
}

#grid-item {
    height: 128px;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-image: linear-gradient(180deg, #FCF6D1 0%, #BD9457 10.42%, #E3CA89 25%, #FEE8C8 69.79%, #4D3A1A 85.42%, #FCF0D1 100%);
    border-image-slice: 1;
    border-radius: 8px;
    background-color: rgb(38, 34, 34);
    box-shadow: 2px 4px 16px 0px #BD8E8E40;
}

#main_div_sponsor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 600px) {
    #grid12 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for screens wider than 600px */
        grid-template-rows: repeat(2, 1fr); /* 2 rows for screens wider than 600px */
    }
}

@media screen and (min-width: 900px) {
    #grid12 {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for screens wider than 900px */
        grid-template-rows: repeat(3, 1fr); /* 3 rows for screens wider than 900px */
    }
}
